<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <!--Referencias-->
    <link rel=" stylesheet " href="./resources/css/Boostrap/boostrp.min.css">



    <title>Actividad 01</title>
</head>

<body>
    <!--Barra de navegación-->
    <div class="container">
        <h1>Actividad 01</h1>

    </div>
    <!--Sección 1 Home-->
    <div class="container">

    </div>

    <!--Sección 2 Servicios-->
    <div class="container">
        <h1>Servicios</h1>
    </div>

    <script src="./resources/Boostrap/jquery-3.5.1.slim.min.js"></script>
    <script src="./resources/Boostrap/bootstrap.bundle.min.js"></script>

</body>

</html>